<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if devoured}}Devoured!{{else}}Are you hungry?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
